@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

/*FLEX*/
.flex{
    display: flex;   
}

.jac{
    align-items: center;
    justify-content: center;
}

.jacs{
    align-items: center;
    justify-content: flex-start;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.tc{
    text-align: center;
}

.tj{
    text-align: justify;
}

.wrap{
    flex-wrap: wrap;
}

/*FONT*/
.it-font{
    font-family: "VT323", monospace;
}

/*COLOR*/
.w {
    color: white;
}

.wb {
    border: 1px solid white;
    box-shadow: 1px 1px 0px hsl(0, 0%, 100%),
    2px 2px 0px hsl(0,0%,100%),
    3px 3px 0px hsl(0,0%,100%),
    4px 4px 0px hsl(0,0%,100%),
    5px 5px 0px hsl(0,0%,100%);
}

/*LAYOUT*/
body{
    background: linear-gradient(90deg, rgba(0,228,255,1) 26%, rgba(9,104,217,1) 93%);
    padding: 2em;
}

a{
    text-decoration: none;
}

header{
    border-radius: 7px;
    padding: 2em;
    font-size: 2em;
}

main{
    padding: 5em;
    max-width: 100%;
}

main section, article{
    margin-right: 0.5em;
    margin-left: 0.5em;
}

section{
    margin-top: 3em;
}

.images {
    gap: 20px;
}

figure {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.images img{
    border: 3px outset goldenrod;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: block;
    width: 13em;
    height: 20em;
}

.images figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    transform: translateY(100%); 
    transition: transform 0.3s ease-in-out; 
    opacity: 0; 
}

.images figure:hover figcaption {
    transform: translateY(0);
    opacity: 1;
}

.images .girl{
    width: 25em;
    height: 30em; 
    border: none;
}

h2{
    margin-top: 2em;
}

.about-me {
    border-radius: 7px;
    font-size: 2em;
    max-width: 100%;
    padding: 1em;
}

.about-me figure{
    margin-right: 1em;
    margin-bottom: 1em;
}

.about-me .text-about {
    font-size: 0.8em;
    width: 70%;
}

.about-me img {
    border-radius: 5px;
    width: 350px;
    height: 350px;
}

.knowledge article {
    margin-top: 3em;
}

.knowledge figure{
    margin: 1em;
}

.knowledge img{
    width: 10vw;
    height: 10vw;
    max-width: 70px;
    max-height: 70px;
}

.knowledge .languages{
    margin: 0 auto; 
    max-width: 50%;
}

.knowledge .level-languages{
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.knowledge .it h2{
    padding: 2em;
}

.knowledge .it {
    background-color: rgba(0, 0, 0);
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
}

.pink-shadow {
    filter: drop-shadow(0 0 0.30rem lightpink);
}

.experience h2, .other-sectors{
    margin-bottom: 2em;
}

.experience{
    background-color: black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.experience span {
    font-size: x-large;
}

.experience .it-languages{
    padding-top: 1em;
    padding-bottom: 2em;
}

.experience img{
    width: 50px;
    height: 50px;
}

.experience .it-languages img{
    margin: 25px;
}

.experience .it-experience span{
    width: 45em;
}
