@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,228,255,1) 26%, rgba(9,104,217,1) 93%);
    padding: 2em;
}

main, .images{
    display: flex;
    flex-direction: row;
}

header{
    border: 1px solid white;
    border-radius: 7px;
    padding: 2em;
    color: white; 
    box-shadow: 1px 1px 0px hsl(0, 0%, 100%),
        2px 2px 0px hsl(0,0%,100%),
        3px 3px 0px hsl(0,0%,100%),
        4px 4px 0px hsl(0,0%,100%),
        5px 5px 0px hsl(0,0%,100%);
    font-size: 2em;
}

main{
    padding: 5em;
    flex-direction: column;
}

main section, article{
    margin-right: 0.5em;
    margin-left: 0.5em;
}

section{
    margin-top: 3em;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

figure {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.images img{
    border: 3px outset goldenrod;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: block;
    width: 13em;
    height: 20em;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 1em;
    transform: translateY(100%); 
    transition: transform 0.3s ease-in-out; 
    opacity: 0; 
}

figure:hover figcaption {
    transform: translateY(0);
    opacity: 1;
}

.images .girl{
    width: 25em;
    height: 30em; 
    border: none;
}

.about-me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "VT323", monospace;
    border: 1px solid white;
    border-radius: 7px;
    padding: 1em;
    color: white; 
    box-shadow: 1px 1px 0px hsl(0, 0%, 100%),
                2px 2px 0px hsl(0,0%,100%),
                3px 3px 0px hsl(0,0%,100%),
                4px 4px 0px hsl(0,0%,100%),
                5px 5px 0px hsl(0,0%,100%);
    font-size: 2em;
    max-width: 100%;
}

.about-me figure{
    display: flex;
    justify-content: center;
    flex: 1 1 100px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.about-me .text-about {
    flex: 1 1 300px;
    text-align: justify;
    font-size: 0.8em;
}

.about-me img {
    border-radius: 5px;
    width: 350px;
    height: 350px;
}

footer{
    color: white
}
