<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/jpg" href="../../images/icons/conocimientos.jpg">
    <title>Conocimientos</title>
</head>
<body>
    <header>
        <h1 class="header">Conocimientos</h1>
        <nav>
            <figure>
                <a href="../../portfolio.html">
                    <img src="../../images/icons/sobre-mi2.jpg" title="Portfolio" alt="Portfolio">
                </a>
            </figure>
            <figure>
                <a href="../about-me/about-me.html">
                    <img src="../../images/icons/sobre-mi.jpg" title="Sobre mí" alt="Sobre mí">
                </a>
            </figure>
            <figure>
                <a href="../experience/experience.html">
                    <img src="../../images/icons/experiencia.jpg" title="Experiencia" alt="Experiencia">
                </a>
            </figure>
            <figure>
                <a href="../projects/projects.html">
                    <img src="../../images/icons/proyectos.jpg"  title="Proyectos" alt="Proyectos">
                </a>
            </figure>
            <figure>
                <a href="../contact/contact.html">
                    <img src="../../images/icons/contacto.jpg" title="Contacto" alt="Contacto">
                </a>
            </figure>
        </nav>
    </header>
    <main>
        <section>
            <h2>Idiomas</h2>
            <figure>
                <img src="" alt="Español" title="Español">
            </figure>  
        </section>
        <section>
            <h2>Programación</h2>
        </section>
        <section>
            <h2>Habilidades blandas</h2>
        </section>
    </main>    
</body>
</html>