<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/jpg" href="../../images/icons/conocimientos.jpg">
    <title>Conocimientos</title>
</head>
<body>
    <header>
        <h1 class="header">Conocimientos</h1>
        <nav>
            <figure>
                <a href="../../portfolio.html">
                    <img src="../../images/icons/portfolio.jpg" alt="Portfolio">
                    <figcaption>Portfolio</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../about-me/about-me.html">
                    <img src="../../images/icons/sobre-mi.jpg" alt="Sobre mí">
                    <figcaption>Sobre mí</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../experience/experience.html">
                    <img src="../../images/icons/experiencia.jpg" alt="Experiencia">
                    <figcaption>Experiencia</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../projects/projects.html">
                    <img src="../../images/icons/proyectos.jpg" alt="Proyectos">
                    <figcaption>Proyectos</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../contact/contact.html">
                    <img src="../../images/icons/contacto.jpg" alt="Contacto">
                    <figcaption>Contacto</figcaption>
                </a>
            </figure>
        </nav>
    </header>
    <main>
        <section>
            <h2>Idiomas</h2>
            <article>
                <figure>
                    <img src="../../images/knowledge/languages/spain.png" alt="Español">
                    <figcaption>Español - Nativo</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/languages/uk.png" alt="Inglés">
                    <figcaption>Inglés - B2</figcaption>
                </figure>    
                <figure>
                    <img src="../../images/knowledge/languages/italy.png" alt="Italiano">
                    <figcaption>Italiano - B1</figcaption>
                </figure>  
            </article>
        </section>
        <section class="it">
            <h2>Programación</h2>
            <article>
                <figure>
                    <img src="../../images/knowledge/it/java.png" alt="Java">
                    <figcaption>Java</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/python.png" alt="Python">
                    <figcaption>Python</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/php.svg" alt="PHP">
                    <figcaption>Php</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/html.svg" alt="HTML">
                    <figcaption>Html</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/css.svg" alt="CSS">
                    <figcaption>Css</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/javascript.svg" alt="Javascript">
                    <figcaption>Javascript</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/angular.svg" alt="Angular">
                    <figcaption>Angular</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/bootstrap.svg" alt="Bootstrap">
                    <figcaption>Bootstrap</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/jquery.svg" alt="Jquery">
                    <figcaption>Jquery</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/typescript.svg" alt="Typescript">
                    <figcaption>Typescript</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/spring.png" alt="Spring">
                    <figcaption>Spring</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/sql.png" alt="SQL">
                    <figcaption>SQL</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/mysql.svg" alt="MySQL">
                    <figcaption>MySQL</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/ajax.png" alt="Ajax">
                    <figcaption>Ajax</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/symfony.png" alt="Symfony">
                    <figcaption>Symfony</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/Sass.png" alt="Sass">
                    <figcaption>Sass</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/sweetalert2.png" alt="Sweetalert">
                    <figcaption>Sweetalert</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/aws.png" alt="AWS">
                    <figcaption>AWS</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/git.png" alt="Git">
                    <figcaption>Git</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/github.png" alt="Github">
                    <figcaption>Github</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/Wordpress.png" alt="Wordpress">
                    <figcaption>Wordpress</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/woocommerce.png" alt="Woocommerce">
                    <figcaption>Woocommerce</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/ionic.svg" alt="Ionic">
                    <figcaption>Ionic</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/dia.png" alt="Dia">
                    <figcaption>Dia</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/json.png" alt="Json">
                    <figcaption>Json</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/postman.svg" alt="Postman">
                    <figcaption>Postman</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/tailwind.png" alt="Tailwind">
                    <figcaption>Tailwind</figcaption>
                </figure>
                <figure>
                    <img src="../../images/knowledge/it/xml.png" alt="Xml">
                    <figcaption>Xml</figcaption>
                </figure>
            </article>
        </section>
        <section>
            <h2>Habilidades blandas</h2>
        </section>
    </main>    
</body>
</html>