<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sobre mí</title>
</head>
<body>
    <header>Sobre mí</header>    
    <main>
        <figure>
            <img src="../../images/sobre-mi2.jpg" alt="Sobre mí">
        </figure>
        <section>
            <p>Soy una desarrolladora Full Stack Junior del CFGS de Desarrollo de Aplicaciones Web. A lo largo de mi formación y experiencia, 
                he adquirido conocimientos en diversos lenguajes de programación y tecnologías como Java, Angular y PHP. Tengo mucho entusiasmo 
                por aprender y crecer profesionalmente.
            </p>
            <br>
            <p>
                He tenido la oportunidad de trabajar en proyectos que me han permitido mejorar mis habilidades en la resolución de problemas, 
                gestión del tiempo, trabajar bajo presión y en equipo. 
            </p>
            <br>
            <p>
                Durante las prácticas en el Hospital Regional Universitario de Málaga desarrollé habilidades como la coordinación, trabajo en equipo y bajo presión.
            </p>
            <br>
            <p>
                Además, he participado en voluntariado ambiental y social, lo cual me ha permitido desarrollar aún más habilidades clave como la adaptabilidad, 
                la organización y la empatía.
            </p>
            <br>
            <p>
                Estoy buscando oportunidades que me permitan seguir aprendiendo y desarrollándome como profesional, al tiempo que aporto mis conocimientos y 
                entusiasmo a proyectos desafiantes.
            </p>
        </section>
    </main>
    <footer>&copy; 2024 Marina Madrid García</footer>     
</body>
</html>