<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/jpg" href="../../images/icons/sobre-mi.jpg">
    <title>Sobre mí</title>
</head>
<body>
    <header>
        <h1 class="header">Sobre mí</h1>
        <nav>
            <figure>
                <a href="../../portfolio.html">
                    <img src="../../images/icons/portfolio.jpg" alt="Portfolio">
                    <figcaption>Portfolio</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../knowledge/knowledge.html">
                    <img src="../../images/icons/conocimientos.jpg" alt="Conocimientos">
                    <figcaption>Conocimientos</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../experience/experience.html">
                    <img src="../../images/icons/experiencia.jpg" alt="Experiencia">
                    <figcaption>Experiencia</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../projects/projects.html">
                    <img src="../../images/icons/proyectos.jpg" alt="Proyectos">
                    <figcaption>Proyectos</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../contact/contact.html">
                    <img src="../../images/icons/contacto.jpg" alt="Contacto">
                    <figcaption>Contacto</figcaption>
                </a>
            </figure>
        </nav>
    </header>    
    <main>
        <figure>
            <img src="../../images/avatars/portfolio.jpg" alt="Sobre mí">
        </figure>
        <section class="text-section">
            <p>Soy una desarrolladora Full Stack Junior del CFGS de Desarrollo de Aplicaciones Web. A lo largo de mi formación y experiencia, 
                he adquirido conocimientos en diversos lenguajes de programación y tecnologías como Java, Angular y PHP. Tengo mucho entusiasmo 
                por aprender y crecer profesionalmente.
            </p>
            <br>
            <p>
                He tenido la oportunidad de trabajar en proyectos que me han permitido mejorar mis habilidades en la resolución de problemas, 
                gestión del tiempo, trabajar bajo presión y en equipo. 
            </p>
            <br>
            <p>
                Durante las prácticas en el Hospital Regional Universitario de Málaga desarrollé habilidades como la coordinación, trabajo en equipo y bajo presión.
            </p>
            <br>
            <p>
                Además, he participado en voluntariado ambiental y social, lo cual me ha permitido desarrollar aún más habilidades clave como la adaptabilidad, 
                la organización y la empatía.
            </p>
            <br>
            <p>
                Estoy buscando oportunidades que me permitan seguir aprendiendo y desarrollándome como profesional, al tiempo que aporto mis conocimientos y 
                entusiasmo a proyectos desafiantes.
            </p>
        </section>
    </main>
    <footer>&copy; 2024 Marina Madrid García</footer>     
</body>
</html>