@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgb(0,228,255);
    background: linear-gradient(90deg, rgba(0,228,255,1) 26%, rgba(9,104,217,1) 93%);
    padding: 2em;
}

header, main{
    border: 1px solid white;
    border-radius: 7px;
    padding: 1em;
    color: white; 
    box-shadow: 1px 1px 0px hsl(0, 0%, 100%),
        2px 2px 0px hsl(0,0%,100%),
        3px 3px 0px hsl(0,0%,100%),
        4px 4px 0px hsl(0,0%,100%),
        5px 5px 0px hsl(0,0%,100%);
    font-size: 2em;
}

main{
    font-family: "VT323", monospace;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 40em;
    height: 16em;
    display: flex;
    justify-content: start;
    align-items: center;
}

figure{
    margin-right: 2em;
}

.text-section{
    font-size: 0.8em;
}

img{
    border-radius: 5px;
    width: 10em;
    height: 10em;
}

footer{
    color: white
}