<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/jpg" href="../../images/icons/contacto.jpg">
    <title>Contacto</title>
</head>
<body>
    <header>
        <h1 class="header">Contacto</h1>
        <nav>
            <figure>
                <a href="../../portfolio.html">
                    <img src="../../images/icons/portfolio.jpg" alt="Portfolio">
                    <figcaption>Portfolio</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../about-me/about-me.html">
                    <img src="../../images/icons/sobre-mi.jpg" alt="Sobre mí">
                    <figcaption>Sobre mí</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../knowledge/knowledge.html">
                    <img src="../../images/icons/conocimientos.jpg" alt="Conocimientos">
                    <figcaption>Conocimientos</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../experience/experience.html">
                    <img src="../../images/icons/experiencia.jpg" alt="Experiencia">
                    <figcaption>Experiencia</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../projects/projects.html">
                    <img src="../../images/icons/proyectos.jpg" alt="Proyectos">
                    <figcaption>Proyectos</figcaption>
                </a>
            </figure>
        </nav>
    </header>
    <footer>&copy; 2024 Marina Madrid García</footer>    
</body>
</html>