<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/jpg" href="../../images/icons/experiencia.jpg">
    <title>Experiencia</title>
</head>
<body>
    <header>
        <h1 class="header">Experiencia</h1>
        <nav>
            <figure>
                <a href="../../portfolio.html">
                    <img src="../../images/icons/portfolio.jpg" alt="Portfolio">
                    <figcaption>Portfolio</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../about-me/about-me.html">
                    <img src="../../images/icons/sobre-mi.jpg" alt="Sobre mí">
                    <figcaption>Sobre mí</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../knowledge/knowledge.html">
                    <img src="../../images/icons/conocimientos.jpg" alt="Conocimientos">
                    <figcaption>Conocimientos</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../projects/projects.html">
                    <img src="../../images/icons/proyectos.jpg" alt="Proyectos">
                    <figcaption>Proyectos</figcaption>
                </a>
            </figure>
            <figure>
                <a href="../contact/contact.html">
                    <img src="../../images/icons/contacto.jpg" alt="Contacto">
                    <figcaption>Contacto</figcaption>
                </a>
            </figure>
        </nav>
    </header>
    <main>
        <section>
            <figure>
                <img src="../../images/experience/holiday.png" alt="Holiday Golf Group">
                <figcaption>Holiday Golf Group</figcaption>
            </figure>
            <div class="experience">
                <article>
                    <p>Desarrollador Full Stack junior encargada de la creación, desarrollo y mantenimiento del proyecto Myeart</p>
                    <div class="it">
                        <figure>
                            <img src="../../images/knowledge/it/Wordpress.png" alt="Wordpress">
                            <figcaption>Wordpress</figcaption>
                        </figure>
                        <figure>
                            <img src="../../images/knowledge/it/woocommerce.png" alt="Woocommerce">
                            <figcaption>Woocommerce</figcaption>
                        </figure>
                        <figure>
                            <img src="../../images/knowledge/it/html.svg" alt="Html">
                            <figcaption>Html</figcaption>
                        </figure>
                        <figure>
                            <img src="../../images/knowledge/it/css.svg" alt="Css">
                            <figcaption>Css</figcaption>
                        </figure>
                        <figure>
                            <img src="../../images/knowledge/it/php.svg" alt="Php">
                            <figcaption>Php</figcaption>
                        </figure>
                    </div>
                </article>
                <article>
                    <p>Desarrollador Full Stack junior encargada del mantenimiento y resolución de incidencias en la app de la red social Golf People para dispositivos móviles</p>
                    <div class="it">
                        <figure>
                            <img src="../../images/knowledge/it/ionic.svg" alt="Ionic">
                            <figcaption>Ionic</figcaption>
                        </figure>
                        <figure>
                            <img src="../../images/knowledge/it/node.svg" alt="Node Js">
                            <figcaption>Node Js</figcaption>
                        </figure>
                        <figure>
                            <img src="../../images/knowledge/it/angular.svg" alt="Angular">
                            <figcaption>Angular</figcaption>
                        </figure>
                        <figure>
                            <img src="../../images/knowledge/it/php.svg" alt="Php">
                            <figcaption>Php</figcaption>
                        </figure>
                    </div>
                </article>
            </div>
        </section>
        <hr>
        <section>
            <figure>
                <img src="../../images/experience/babel.webp" alt="Babel">
                <figcaption>Ingenia (actual Babel)</figcaption>
            </figure>
            <article>
                <p>Desarrollador Full Stack junior en el departamento de "Tecnologías consolidadas" encargada del desarrollo y mantenimiento de ERP asegurador, atendiendo y resolviendo incidencias</p>
                <div class="it">
                    <figure>
                        <img src="../../images/knowledge/it/java.png" alt="Java">
                        <figcaption>Java</figcaption>
                    </figure>
                    <figure>
                        <img src="../../images/knowledge/it/spring.png" alt="Spring">
                        <figcaption>Spring</figcaption>
                    </figure>
                    <figure>
                        <img src="../../images/knowledge/it/hibernate.svg" alt="Hibernate">
                        <figcaption>Hibernate</figcaption>
                    </figure>
                    <figure>
                        <img src="../../images/knowledge/it/mysql.svg" alt="MySQL">
                        <figcaption>MySQL</figcaption>
                    </figure>
                    <figure>
                        <img src="../../images/knowledge/it/angular.svg" alt="Angular">
                        <figcaption>Angular</figcaption>
                    </figure>
                </div>
            </article>
        </section>
        <hr>
        <section>
            <article>
                <figure>
                    <img src="../../images/experience/hospital.png" alt="Hospital Regional Universitario de Málaga">
                    <figcaption>Hospital Regional Universitario de Málaga</figcaption>
                </figure>
            </article>
        </section>
    </main>
</body>
</html>